@model AskSprint1_1.Question
@{
    ViewData["Title"] = "Question";
}
<h1>@Model.Title</h1>
<h2>Message: @Model.Message</h2>
<input type="button" value="Delete DIS" onclick="location.href='@Url.Action("Delete", "Questions",new { id = Model.ID })'" />
<input type="button" value="Answer" onclick="location.href='@Url.Action("Answer", "Questions", new {id = Model.ID })'" />
<br />
<br />

@if (Model.Answers.Count > 0)
{
    <h3>Answers so far:</h3>
    @foreach (var a in Model.Answers)
    {
        <ul>
            <li>@a </li>

            <input type="button" value="Remove Answer" onclick="location.href='@Url.Action("DeleteThisAnswer", "Questions", new {answer = a,ID = Model.ID})'" />

        </ul>
    }
}

<!--<link rel="stylesheet" type="text/css" href="KUKAC_Url.Content("~/Content/theme4firstSI.css")" media="screen" />-->
<!--<link rel="stylesheet" type="text/css" href="theme4firstSI.css"> -->
<!---Ez még egy ötlet, 'x' a sor végén: -https://www.w3schools.com/howto/howto_js_close_list_items.asp-->